COMPOSE_PROJECT_NAME=spring-env

MYSQL_VERSION=8.0
NACOS_VERSION=2.5.3
REDIS_VERSION=5.0.14
SENTINEL_VERSION=1.8.6

MYSQL_PORT=3306
NACOS_PORT=8848
REDIS_PORT=6379
SENTINEL_PORT=8858

MYSQL_ROOT_PASSWORD=
DB_NAME=mall_db
DB_USERNAME=biz_user
DB_PASSWORD=
